@import url('https://fonts.googleapis.com/css2?family=Coda&display=swap');


.container{
    display: flex;
    flex-direction: column;
    background-image: url("../../assets/BAI-3-Curves_1.gif");
    background-size: cover; 
}

.divUno{
    display: flex;
    height: 10vh;
    justify-content: space-between;
    margin: 15px;
    align-items: center;
}

.goBack{
    font-family: 'Coda', sans-serif;
    border: solid 1px #4ef037;
    border-radius: 15px 15px 15px 15px;
    height: 2em;
    width: 6em;
    padding-top: 0.7em;
    background-color:#ecfeff;
    box-shadow: inset 0 0 5px #00b7c2;
    text-align: center;
}

.miniContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name{
    margin-top: 2em;
    padding-top: 1em;
    font-family: 'Coda', sans-serif;
    font-size: 4em;
    color: rgb(250, 250, 250);
    text-shadow: 0 0 15px #09080a;
}

.type{
    display: flex;
    justify-items: center space-between;
}

.typeImage{
    width: 5em;
}

.fav{
    font-family: 'Coda', sans-serif;
    font-weight: bolder;
    font-size: 1em;
    border: solid 1px #4ef037;
    border-radius: 15px 15px 15px 15px;
    height: 5em;
    width: 8em;
    background-color:#ecfeff;
    box-shadow: inset 0 0 5px #00b7c2;
    text-align: center;
    margin-right: 2em;
}

.divDos{
    display: flex;
    margin: 5px;
    justify-content: space-between;
    margin-right: 60px;
}

.imageContainer{
    justify-content: top;
    margin-bottom: 6em;
    margin-left: 4em;
}

.image{
   width: 30em;
} 

.caracteristics{
    color: #140352;
    text-align: left;
    font-size: 1.2em;
    font-family: 'Coda', sans-serif;
    font-weight: bold;
    line-height: 2em;
    text-shadow: 1em 1em 1em #ffffff;
    margin-right: 11em;
    margin-top: 7em;
}
