.back{
  background: linear-gradient(to bottom,#003b52, #80eaf1); 
  height: 1000px;
  display: flex;
  flex-direction: column;
}

.container1{
  width: 100vw;
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 3em;
}

.container2{
  width: 100vw;
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 8em;
}

.buttonDisplay{
  font-family: 'Coda', sans-serif;
  font-weight: bold;
  border: solid 1px #4ef037;
  border-radius: 15px 15px 15px 15px;
  height: 6em;
  width: 6em;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  background-color:#ecfeff;
  box-shadow: inset 0 0 5px #00b7c2;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s; 
}

.buttonPlay{
  font-family: 'Coda', sans-serif;
  font-size: 2em;
  font-weight: bolder;
  border: solid 1px #4ef037;
  border-radius: 15px 15px 15px 15px;
  height: 3em;
  width: 3em;
  border-radius: 50%;
  background-color:#ecfeff;
  box-shadow: inset 0 0 5px #00b7c2;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s; 
}

.buttonDisplay:hover,
.buttonPlay:hover {
  transform: scale(1.1);
}

.buttonPlayDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 90%;
  left: 43%;
  gap: 2em;
}

.popUp {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Coda', sans-serif;
  font-size: 70px;
  text-align: center;
  font-weight: bolder;
  border: solid 1px #4ef037;
  border-radius: 15px 15px 15px 15px;
  height: 2.5em;
  width: 6em;
  border-radius: 20%;
  background-color:#ecfeff;
  padding: 0.6em;
  box-shadow: inset 0 0 5px #00b7c2;
  z-index: 9999;
}
