@import url('https://fonts.googleapis.com/css2?family=Coda&display=swap');

a {
    text-decoration: none;
}

.nav{
    background-color: #37214b;
    padding: 1em;
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: space-evenly;
    padding-left: 3em;
    align-items: center;
    z-index: 3;
    }

.icono{
    position: absolute;
    margin-top: 0.8em;
    margin-left: 2em;  
    width:3em;
    }
    

.about{
    font-size: 0.8em;
    color:#ffffff;
    border: 1px #ff5722;
    font-family: 'Coda', sans-serif;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.home{
    font-size: 0.8em;
    color:#ffffff;
    border: 1px #ff5722;
    font-family: 'Coda', sans-serif;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.pokedex{
    font-size: 0.8em;
    color:#ffffff;
    border: 1px #ff5722;
    font-family: 'Coda', sans-serif;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.play{
    font-size: 0.8em;
    color:#ffffff;
    border: 1px #ff5722;
    font-family: 'Coda', sans-serif;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.create{
    font-size: 0.8em;
    color:#ffffff;
    border: 1px #ff5722;
    font-family: 'Coda', sans-serif;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.logout{
    font-size: 0.8em;
    color:#ffffff;
    border: 1px #ff5722;
    font-family: 'Coda', sans-serif;
    font-weight: bold;
    cursor: pointer; 
    text-decoration: none;  
}
