.first-color { 
	background: #0c203d; 
}
	
.second-color { 
	background: #2d4059; 
}

.third-color { 
	background: #ff5722; 
}

.fourth-color { 
	background: #eeeeee; 
}

.fourth-color { 
	background: #3dc7be; 
}