
.contain{
background-color: rgb(255, 255, 255); 
display: flex;
flex-direction: row;
width: auto;
height:1500px;
}   

.links{
    margin-top: 2em;
    width: 12em;
    display: grid;
    grid: auto / auto auto;
    justify-content:space-around;
}

.link{
    width: 2.5em;
    margin: 1em;
}
    

