

.minicontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 2em;
}

.name{
    font-family: 'Coda', sans-serif;
    font-size: 1em;
    color: rgb(0, 0, 0);
    text-shadow: 9px 7px 6px #8a878d;
    width: 13em;
    text-align: center; 
    border-radius: 8px;  
    background-color: #f1f0f0; 
    border: solid 4px rgb(78, 78, 78);
    margin-top: 1em;
}

a {
    text-decoration: none;
}

.types{
    width: 13em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: transparent;
    gap: 1em;
}

.typeImage{
    width: 1.3em;
    border: solid 2px rgb(75, 74, 74);
    border-radius: 50%;
}

.imageContainer{
    border-radius: 10px;  
    background-color: rgba(173, 173, 173, 0.6);
    border: solid 10px rgb(78, 78, 78);  
}

.imagePoke{
    background-color: transparent;
    height: 185px;  
}

.infContainer{

    display: flex;
    flex-direction: column;
    width: 14em;
}

.idDiv{
    display: flex;
    flex-direction: row;
    width: 15em;
    height: 4em;
    justify-content: space-between;
}

.id{
    font-family: 'Coda', sans-serif;
    font-size: 1em;
    color: rgb(0, 0, 0);
    text-shadow: 9px 7px 6px #8a878d;
    width: 3em;
    text-align: center; 
    border-radius: 50%;  
    background-color: #f1f0f0; 
    border: solid 2px rgb(78, 78, 78);
}

.champ{
    background-color: transparent;
    font-family: 'Coda', sans-serif;
    font-weight: bold;
    text-shadow: 3px 3px 6px #ffffff;
    font-size: 1em;
    color: rgb(0, 0, 0);
    border: none;
    justify-self: end;
}

.caracteristics{
    width: 6em; 
    justify-items: center;
    display: grid;
    grid: auto / auto auto;
 }

.text{
    width: 8.5em;
    font-family: 'Coda', sans-serif;
    font-size: 0.7em;
    color: rgb(0, 0, 0);
    text-shadow: 9px 7px 6px #8a878d;
    text-align: center; 
    border-radius: 5px;  
    background-color: #f1f0f0; 
    border: solid 3px rgb(78, 78, 78);
    line-height: 1.2em;
    margin: 0.5em;
}

.backShadow{
    background-image: url("../../assets/energias/shadow.jpg");
    background-size: cover;
    border-radius: 15px;
    height:10.5cm;
    width: 7cm;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 25px 10px 6px #665a72;
    border: solid 5px rgb(75, 74, 74);
}
.backFire{
    background-image: url("../../assets/energias/fire.jpg");
    background-size: cover;
    border-radius: 15px;
    height:10.5cm;
    width: 7cm;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 25px 10px 6px #665a72;
    border: solid 5px rgb(75, 74, 74);
}
.backWater{
    background-image: url("../../assets/energias/water.jpg");
    background-size: cover;
    border-radius: 15px;
    height:10.5cm;
    width: 7cm;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 25px 10px 6px #665a72;
    border: solid 5px rgb(75, 74, 74);
}
.backDark{
    background-image: url("../../assets/energias/dark.jpg");
    background-size: cover;
    border-radius: 15px;
    height:10.5cm;
    width: 7cm;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 25px 10px 6px #665a72;
    border: solid 5px rgb(75, 74, 74);
}
.backBug{
    background-image: url("../../assets/energias/bug.jpg");
    background-size: cover;
    border-radius: 15px;
    height:10.5cm;
    width: 7cm;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 25px 10px 6px #665a72;
    border: solid 5px rgb(75, 74, 74);
}
.backDragon{
    background-image: url("../../assets/energias/dragon.jpg");
    background-size: cover;
    border-radius: 15px;
    height:10.5cm;
    width: 7cm;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 25px 10px 6px #665a72;
    border: solid 5px rgb(75, 74, 74);
}
.backElectric{
    background-image: url("../../assets/energias/electric.jpg");
    background-size: cover;
    border-radius: 15px;
    height:10.5cm;
    width: 7cm;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 25px 10px 6px #665a72;
    border: solid 5px rgb(75, 74, 74);
}
.backGrass{
    background-image: url("../../assets/energias/grass.jpg");
    background-size: cover;
    border-radius: 15px;
    height:10.5cm;
    width: 7cm;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 25px 10px 6px #665a72;
    border: solid 5px rgb(75, 74, 74);
}
.backPoison{
    background-image: url("../../assets/energias/poison.jpg");
    background-size: cover;
    border-radius: 15px;
    height:10.5cm;
    width: 7cm;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 25px 10px 6px #665a72;
    border: solid 5px rgb(75, 74, 74);
}
.backIce{
    background-image: url("../../assets/energias/ice.jpg");
    background-size: cover;
    border-radius: 15px;
    height:10.5cm;
    width: 7cm;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 25px 10px 6px #665a72;
    border: solid 5px rgb(75, 74, 74);
}
.backFighting{
    background-image: url("../../assets/energias/fighting.jpg");
    background-size: cover;
    border-radius: 15px;
    height:10.5cm;
    width: 7cm;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 25px 10px 6px #665a72;
    border: solid 5px rgb(75, 74, 74);
}
.backFlying{
    background-image: url("../../assets/energias/flying.jpg");
    background-size: cover;
    border-radius: 15px;
    height:10.5cm;
    width: 7cm;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 25px 10px 6px #665a72;
    border: solid 5px rgb(75, 74, 74);
}
.backUnknown{
    background-image: url("../../assets/energias/unknown.jpg");
    background-size: cover;
    border-radius: 15px;
    height:10.5cm;
    width: 7cm;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 25px 10px 6px #665a72;
    border: solid 5px rgb(75, 74, 74);
}
.backNormal{
    background-image: url("../../assets/energias/normal.jpg");
    background-size: cover;
    border-radius: 15px;
    height:10.5cm;
    width: 7cm;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 25px 10px 6px #665a72;
    border: solid 5px rgb(75, 74, 74);
}
.backFairy{
    background-image: url("../../assets/energias/fairy.jpg");
    background-size: cover;
    border-radius: 15px;
    height:10.5cm;
    width: 7cm;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 25px 10px 6px #665a72;
    border: solid 5px rgb(75, 74, 74);
}
.backPsychic{
    background-image: url("../../assets/energias/psychic.jpg");
    background-size: cover;
    border-radius: 15px;
    height:10.5cm;
    width: 7cm;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 25px 10px 6px #665a72;
    border: solid 5px rgb(75, 74, 74);
}
.backGhost{
    background-image: url("../../assets/energias/ghost.jpg");
    background-size: cover;
    border-radius: 15px;
    height:10.5cm;
    width: 7cm;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 25px 10px 6px #665a72;
    border: solid 5px rgb(75, 74, 74);
}
.backGround{
    background-image: url("../../assets/energias/ground.jpg");
    background-size: cover;
    border-radius: 15px;
    height:10.5cm;
    width: 7cm;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 25px 10px 6px #665a72;
    border: solid 5px rgb(75, 74, 74);
}
.backRock{
    background-image: url("../../assets/energias/rock.jpg");
    background-size: cover;
    border-radius: 15px;
    height:10.5cm;
    width: 7cm;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 25px 10px 6px #665a72;
    border: solid 5px rgb(75, 74, 74);
}
.backSteel{
    background-image: url("../../assets/energias/steel.jpg");
    background-size: cover;
    border-radius: 15px;
    height:10.5cm;
    width: 7cm;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 25px 10px 6px #665a72;
    border: solid 5px rgb(75, 74, 74);
}