@import url('https://fonts.googleapis.com/css2?family=Coda&display=swap');


.bar{
    justify-self: flex-end;
}

.searchInput{
    border: solid 1px #ff5722;
    border-radius: 15px 0px 0px 15px;
    padding-left: 2em;
    height: 2em;
    background-color: #ecfeff; 
    box-shadow: inset 0 0 5px #3dc7be;
}

.searchButton{
    border: solid 1px #ff5722;
    border-radius: 0px 15px 15px 0px;
    height: 2em;
    background-color:#ecfeff;
    box-shadow: inset 0 0 10px #ff5722;
    font-family: 'Coda', sans-serif;
    font-weight: bold;
    cursor: pointer;
}

.randomButton{
    border: solid 1px #ff5722;
    border-radius: 15px 15px 15px 15px;
    height: 2em;
    background-color:#ecfeff;
    box-shadow: inset 0 0 5px #3dc7be;
    font-family: 'Coda', sans-serif;
    font-weight: bold;
    cursor: pointer;
}

.error{
    position: absolute;
    right: 17em;
    top: 6em;
    font-family: 'Coda', sans-serif;
    font-weight: bold;
    font-size: small;
    color: #128494;
    border: solid 1px #ff5722; 
    border-radius: 15px 15px 15px 15px;
    height: 2.2em;
    width: 20em;
    background-color: #ecfeff; 
    padding: 0.4em;
    box-shadow: inset 0 0 5px #ee8727;
    text-align: center;
}