@import url('https://fonts.googleapis.com/css2?family=Coda&display=swap');

.backShadow{
    background-image: url("../../assets/energias/shadow.jpg");
    background-size: cover;
    height:700px;
    display: flex;
    flex-direction: column;
}
.backFire{
    background-image: url("../../assets/energias/fire.jpg");
    background-size: cover;
    height:700px;
    display: flex;
    flex-direction: column;
}
.backWater{
    background-image: url("../../assets/energias/water.jpg");
    background-size: cover;
    height:700px;
    display: flex;
    flex-direction: column;
}
.backDark{
    background-image: url("../../assets/energias/dark.jpg");
    background-size: cover;
    height:700px;
    display: flex;
    flex-direction: column;
}
.backBug{
    background-image: url("../../assets/energias/bug.jpg");
    background-size: cover;
    height:700px;
    display: flex;
    flex-direction: column;
}
.backDragon{
    background-image: url("../../assets/energias/dragon.jpg");
    background-size: cover;
    height:700px;
    display: flex;
    flex-direction: column;
}
.backElectric{
    background-image: url("../../assets/energias/electric.jpg");
    background-size: cover;
    height:700px;
    display: flex;
    flex-direction: column;
}
.backGrass{
    background-image: url("../../assets/energias/grass.jpg");
    background-size: cover;
    height:700px;
    display: flex;
    flex-direction: column;
}
.backPoison{
    background-image: url("../../assets/energias/poison.jpg");
    background-size: cover;
    height:700px;
    display: flex;
    flex-direction: column;
}
.backIce{
    background-image: url("../../assets/energias/ice.jpg");
    background-size: cover;
    height:700px;
    display: flex;
    flex-direction: column;
}
.backFighting{
    background-image: url("../../assets/energias/fighting.jpg");
    background-size: cover;
    height:700px;
    display: flex;
    flex-direction: column;
}
.backFlying{
    background-image: url("../../assets/energias/flying.jpg");
    background-size: cover;
    height:700px;
    display: flex;
    flex-direction: column;
}
.backUnknown{
    background-image: url("../../assets/energias/unknown.jpg");
    background-size: cover;
    height:700px;
    display: flex;
    flex-direction: column;
}
.backNormal{
    background-image: url("../../assets/energias/normal.jpg");
    background-size: cover;
    height:700px;
    display: flex;
    flex-direction: column;
}
.backFairy{
    background-image: url("../../assets/energias/fairy.jpg");
    background-size: cover;
    height:700px;
    display: flex;
    flex-direction: column;
}
.backPsychic{
    background-image: url("../../assets/energias/psychic.jpg");
    background-size: cover;
    height:700px;
    display: flex;
    flex-direction: column;
}
.backGhost{
    background-image: url("../../assets/energias/ghost.jpg");
    background-size: cover;
    height:700px;
    display: flex;
    flex-direction: column;
}
.backGround{
    background-image: url("../../assets/energias/ground.jpg");
    background-size: cover;
    height:700px;
    display: flex;
    flex-direction: column;
}
.backRock{
    background-image: url("../../assets/energias/rock.jpg");
    background-size: cover;
    height:700px;
    display: flex;
    flex-direction: column;
}
.backSteel{
    background-image: url("../../assets/energias/steel.jpg");
    background-size: cover;
    height:700px;
    display: flex;
    flex-direction: column;
}

.divUno{
    display: flex;
    flex-direction: row;
    height: 2em;
    padding: 1em;
}

.goBack{
    font-family: 'Coda', sans-serif;
    border: solid 1px #4ef037;
    border-radius: 15px 15px 15px 15px;
    height: 2em;
    width: 6em;
    padding-top: 0.7em;
    background-color:#ecfeff;
    box-shadow: inset 0 0 5px #00b7c2;
    text-align: center;
}

.divDos{
    display: flex;
    flex-direction: row;
    height: 12em;
    align-content: center;
    justify-content: space-between;
}

.type{
    margin: 3em;
    margin-top: 10em;
    padding: 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name{
    font-family: 'Coda', sans-serif;
    font-size: 4em;
    color: rgb(250, 250, 250);
    text-shadow: 0 0 15px #09080a;    
}

.typeImage{
    width: 5em;
}

.caracteristics{
    background-color: #949494;
    opacity: 0.8;
    border-radius: 15px;
    padding: 3em;
    height: 20em;
    color: #ffffff;
    text-align: left;
    font-size: 1.2em;
    font-family: 'Coda', sans-serif;
    font-weight: bolder;
    line-height: 2em;
    text-shadow: 1em 1em 1em #000000;
    margin-right: 11em;
    margin-top: 5em;

}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: last baseline;
}

.imageRel{
    width: 6em;
    margin: 2em;
    background-color: #97efff;
    border-radius: 50%;
    border: solid 1px rgb(4, 161, 167);
}
