@import url('https://fonts.googleapis.com/css2?family=Coda&display=swap');


.container{
    height: 1500px;
    width: 12em;
    background-color: #3dc7be;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.error{
    font-family: 'Coda', sans-serif;
    font-weight: bolder;
    font-size: larger;
    color: #128494;
    border: solid 1px #ff5722; 
    border-radius: 15px 15px 15px 15px;
    height: 2.5em;
    width: 16em;
    background-color: #ecfeff; 
    padding: 0.4em;
    box-shadow: inset 0 0 5px #ee8727;
    text-align: center;
}

.container2{
    height: 1500px;
    width: 12em;
    background-color: #855b85;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.filters{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.orders{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.ord{
    border: solid 1px #fd7404;
    border-radius: 15px 15px 15px 15px;
    height: 2em;
    background-color:#ecfeff;
    box-shadow: inset 0 0 5px #eeb053;
    font-family: 'Coda', sans-serif;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 1em;
}


.titles{
    color: #0c203d;
    font-size: 1.7em;
    font-family: 'Coda', sans-serif;
    font-weight: bold;
    cursor: pointer; 
    text-align: center;
}

.stat{
    border: solid 1px #2d4059;
    border-radius: 15px 15px 15px 15px;
    height: 2em;
    background-color:#ecfeff;
    box-shadow: inset 0 0 5px #3dc7be;
    font-family: 'Coda', sans-serif;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 1em;
}

.types{
    width: 100%;
    grid: auto / auto auto auto;
    justify-content: center;
    margin-left: 1.2em;
    margin-top: 2em;
}

.type{
    background-color: transparent;
    width: 3em;
    display:block;
    cursor: pointer;
}

.buttons{
    background-color: transparent;
    border: none;
    justify-content: space-evenly;
    cursor: pointer;
}

.clearButton{
    border: solid 1px #ff5722;;
    border-radius: 15px 15px 15px 15px;
    height: 2em;
    background-color:#ecfeff;
    box-shadow: inset 0 0 5px #3dc7be;
    font-family: 'Coda', sans-serif;
    font-weight: bold;
    cursor: pointer;
    margin-top: 3em;
}

.error{
    font-size: 0.6em;
    color: #000000;
    font-family: 'Coda', sans-serif;
    font-weight: normal;
}