@import url('https://fonts.googleapis.com/css2?family=Coda&display=swap');


.divUno{
    display: flex;
    height: 5em;
    justify-content: space-between;
    margin: 15px;
    margin-top: 4em;
    align-items: center;
    padding-top: 0px;
    z-index: 2;
}

.goBack{
    font-family: 'Coda', sans-serif;
    border: solid 1px #4ef037;
    border-radius: 15px 15px 15px 15px;
    height: 3em;
    width: 6em;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    background-color:#ecfeff;
    box-shadow: inset 0 0 5px #00b7c2;
    text-align: center;
}

.miniContainer{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin-top: 9em;
    padding: 0px;
}

.name{
    font-family: 'Coda', sans-serif;
    font-size: 4em;
    color: rgb(250, 250, 250);
    text-shadow: 0 0 15px #09080a;
    padding: 0px;
    z-index: 1;
}

.type{
    display: flex;
    padding:none;
    justify-items: center;
}

.typeImage{
    width: 5em;
}

.fav{
    font-family: 'Coda', sans-serif;
    font-weight: bolder;
    font-size: 1em;
    border: solid 1px #4ef037;
    border-radius: 15px 15px 15px 15px;
    height: 5em;
    width: 8em;
    background-color:#ecfeff;
    box-shadow: inset 0 0 5px #00b7c2;
    text-align: center;
    margin-right: 2em;
}

.divDos{
    display: flex;
    margin: 5px;
    justify-content: space-between;
    margin-right: 60px;
    z-index: 1;
}

.imageContainer{
    justify-content: top;
    margin-bottom: 6em;
    margin-left: 6em;
}

.image{
   width: 25em;
} 

.caracteristics{
    color: #34313f;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 15px;
    height:13cm;
    width: 6cm;
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 1.2em;
    font-family: 'Coda', sans-serif;
    font-weight: bold;
    line-height: 2em;
    text-shadow: 0.5em 0.5em 1em #ffffff;
    margin-right: 5em;
    margin-top: 3em;
    margin-bottom: 1em;
    box-shadow: 25px 10px 6px #665a72;
    border: solid 5px rgb(75, 74, 74);
    padding-left: 3em;
}


*
{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.wrapper
{
    position: absolute;
    top: 50%;
    left: 50%;

   transform: translate(-50%, -50%);

}

.pokeball {
  width: 60px;
  height: 60px;
  background-color: #fff;
  border-radius: 50% ;
  position: relative;
  overflow: hidden;
  border: 3px solid;
  animation: frames .8s  linear 0s infinite;
  margin-top: 5em;
  margin-left: 37em;
}

.pokeball:after{
  content: '';
  position: absolute;
  width: 60px;
  height: 30px;
  background-color: red;
  border-bottom: 4px solid;
  top: -4px
}

.pokeball:before{
  content: '';
  position: absolute;
  background-color: #fff;
  width: 10px;
  height:10px;
  border: 4px solid;
  border-radius: 50%;
  bottom: 18px;
  right: 18px;
  z-index: 1;
}


@keyframes frames{
  0% {
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}


.backElectric{
    display: flex;
    flex-direction: column;
    background-image: url("../../../assets/energias/electric.jpg");
    background-size: cover;
}
.backBug{
    display: flex;
    flex-direction: column;
    background-image: url("../../../assets/energias/bug.jpg");
    background-size: cover;
}
.backDark{
    display: flex;
    flex-direction: column;
    background-image: url("../../../assets/energias/dark.jpg");
    background-size: cover;
}
.backDragon{
    display: flex;
    flex-direction: column;
    background-image: url("../../../assets/energias/dragon.jpg");
    background-size: cover;
}
.backFairy{
    display: flex;
    flex-direction: column;
    background-image: url("../../../assets/energias/fairy.jpg");
    background-size: cover;
}
.backFighting{
    display: flex;
    flex-direction: column;
    background-image: url("../../../assets/energias/fighting.jpg");
    background-size: cover;
}
.backFire{
    display: flex;
    flex-direction: column;
    background-image: url("../../../assets/energias/fire.jpg");
    background-size: cover;
}
.backFlying{
    display: flex;
    flex-direction: column;
    background-image: url("../../../assets/energias/flying.jpg");
    background-size: cover;
}
.backGhost{
    display: flex;
    flex-direction: column;
    background-image: url("../../../assets/energias/ghost.jpg");
    background-size: cover;
}
.backGrass{
    display: flex;
    flex-direction: column;
    background-image: url("../../../assets/energias/grass.jpg");
    background-size: cover;
}
.backGround{
    display: flex;
    flex-direction: column;
    background-image: url("../../../assets/energias/ground.jpg");
    background-size: cover;
}
.backIce{
    display: flex;
    flex-direction: column;
    background-image: url("../../../assets/energias/ice.jpg");
    background-size: cover;
}
.backNormal{
    display: flex;
    flex-direction: column;
    background-image: url("../../../assets/energias/normal.jpg");
    background-size: cover;
}
.backPoison{
    display: flex;
    flex-direction: column;
    background-image: url("../../../assets/energias/poison.jpg");
    background-size: cover;
}
.backPsychic{
    display: flex;
    flex-direction: column;
    background-image: url("../../../assets/energias/psychic.jpg");
    background-size: cover;
}
.backRock{
    display: flex;
    flex-direction: column;
    background-image: url("../../../assets/energias/rock.jpg");
    background-size: cover;
}
.backShadow{
    display: flex;
    flex-direction: column;
    background-image: url("../../../assets/energias/shadow.jpg");
    background-size: cover;
}
.backSteel{
    display: flex;
    flex-direction: column;
    background-image: url("../../../assets/energias/steel.jpg");
    background-size: cover;
}
.backUnknown{
    display: flex;
    flex-direction: column;
    background-image: url("../../../assets/energias/unknown.jpg");
    background-size: cover;
}
.backWater{
    display: flex;
    flex-direction: column;
    background-image: url("../../../assets/energias/water.jpg");
    background-size: cover;
}